footer {
    width: 100%;
    background-color: #33333300;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    margin-top: 60px;
    padding: 20px;
  }
  
  footer p {
    margin-bottom: 0;
    margin-left: 10px;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.788);
    text-align: left;
  }
  
  footer a {
    color: #4caf50;
    text-decoration: none;
    margin: 0 10px;
  }
  
  footer a:hover {
    text-decoration: underline;
  }
  
  footer .social-icons {
    margin-top: 0.5rem;
  }
  
  footer .social-icons a {
    margin: 0 5px;
    display: inline-block;
  }
  
  footer .social-icons img {
    width: 24px;
    height: 24px;
  }
  